.fr {
    float: right;
}
.fl {
    float: left;
}
.inline-block {
    display: inline-block;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.pl10 {
    padding-left: 10px;
}
.pl20 {
    padding-left: 20px;
}
.pr10 {
    padding-right: 10px;
}
.pr20 {
    padding-right: 20px;
}
.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb20 {
    padding-bottom: 20px;
}
.wh80 {
    width: 80px;
}
.wh100 {
    width: 100px;
}
.wh120 {
    width: 120px;
}
.wh140 {
    width: 140px;
}
.wh160 {
    width: 160px;
}
.wh180 {
    width: 180px;
}
.wh200 {
    width: 200px;
}
.wh240 {
    width: 240px;
}
.wh300 {
    width: 300px;
}
.fs12 {
    font-size: 12px;
}
.fs14 {
    font-size: 14px;
}
.fs116 {
    font-size: 116px;
}
.fs18 {
    font-size: 18px;
}
.fs20 {
    font-size: 20px;
}
.fs22 {
    font-size: 22px;
}
.fs24 {
    font-size: 24px;
}
